script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/bower_components/codemirror/lib/codemirror.js')
script(type='text/javascript', src='/bower_components/codemirror/mode/javascript/javascript.js')
script(type='text/javascript', src='/bower_components/codemirror/mode/css/css.js')
script(type='text/javascript', src='/bower_components/codemirror/addon/edit/matchbrackets.js')
script(type='text/javascript', src='/bower_components/codemirror/addon/edit/closebrackets.js')
script(type='text/javascript', src='/bower_components/codemirror/addon/hint/show-hint.js')
script(type='text/javascript', src='/bower_components/codemirror/addon/hint/css-hint.js')
script(type='text/javascript', src='/bower_components/codemirror/addon/hint/javascript-hint.js')
script(type='text/javascript', src='/ext-4.2.1.883/ext-all.js')
script(type='text/javascript', src='/javascripts/main.js')
script(type='text/javascript', src='/javascripts/panes.js')
